<%= render 'shared/heading', 
  title: 'Admin', 
  description: 'Accept or reject applications' %>


<div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Plan</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Website</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Snippet</th>
                <th scope="col" class="px-12 py-3.5 text-left text-sm font-semibold text-gray-900">Decision</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @user_submissions.each do |submission| %>
                <tr>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= submission.first_name %> <%= submission.last_name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= submission.plan_name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= submission.job_role %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= submission.email %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 truncate max-w-xs">
                    <a href="<%= submission.website %>" class="text-indigo-600 hover:text-indigo-900"><%= submission.website %></a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 truncate max-w-xs"><%= submission.text %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <div class="inline-flex rounded-md shadow-sm">
                      <%= form_for submission, local: true, url: admin_user_submission_path(submission) do |form| %>
                        <%= form.select :status, options_for_select([['Pending', 'pending'], ['Accept', 'accept'], ['Reject', 'reject']], selected: submission.status || 'pending'), class: "mt-2 grid grid-cols-1 col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
                        <%= form.submit 'Update', class: 'mt-4 w-full flex justify-center py-2.5 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500' %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
